<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alessandro.datasecurity">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="alessandro"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


        <activity
            android:name="alessandro.datasecurity.auth.Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="alessandro.datasecurity.auth.ResetPassword"
            android:label="@string/title_activity_reset_password"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="alessandro.datasecurity.auth.Signup"
            android:label="@string/action_sign_in_short"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name="alessandro.datasecurity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>


        <activity
            android:name="alessandro.datasecurity.activities.encrypt.EncryptActivity"
            android:parentActivityName="alessandro.datasecurity.MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="alessandro.datasecurity.activities.stego.StegoActivity"
            android:parentActivityName="alessandro.datasecurity.activities.encrypt.EncryptActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="alessandro.datasecurity.activities.decrypt.DecryptActivity"
            android:parentActivityName="alessandro.datasecurity.MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="alessandro.datasecurity.activities.decrypt.DecryptResultActivity"
            android:parentActivityName="alessandro.datasecurity.MainActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>